.flex-container {
    display: flex;
    align-items:start ;
}

.flex-container > div {
    margin-right: 100px;
}

.matriz-input {
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin: 3px;
}

.rotulo {
    margin: 3px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    color: black;
    
}

.caixa-entrada {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: 200px;
    outline: none;
}

.caixa-entrada::placeholder {
    color: #999; 
}

.caixa-entrada:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

.botao {
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remover a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Mostrar o cursor de mão ao passar por cima */
}

.botao:hover {
    background-color: #0056b3; /* Alterar a cor de fundo ao passar por cima */
}

.separacao > div{
    margin-bottom: 60px;
}

.resultado {
    font-size: 17px;
}
