
body, html {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: dimgray;
}
p {
    font-size: 3.2527vw; /* 18px * 0.1804 */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.804vw; /* 10px * 0.1804 */
    margin-bottom: -1.442vw; /* -8px * 0.1804 */
}
.div-main{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(228, 244, 255);
    border-radius: 0.902vw; /* 5px * 0.1804 */
    border: 0.5412vw solid rgb(255, 255, 255); /* 3px * 0.1804 */

    margin-top: 9.02vw; /* 50px * 0.1804 */
    width: 90.2vw; /* 500px * 0.1804 */
    height: 72.16vw; /* 400px * 0.1804 */

}

.div-botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.div-matriz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.p-matriz {
    margin-bottom: 0.7216vw; /* 4px * 0.1804 */
}

.div-resultado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.p-resultado-titulo {
    font-size: 5.054vw; /* 28px * 0.1804 */
    margin: 1.804vw; /* 10px * 0.1804 */
}

.p-resultado-cores{
    font-size: 3.608vw; /* 20px * 0.1804 */
    margin: 0;
    margin-left: 0.7216vw; /* 4px * 0.1804 */
}

.input-cores {
    width: 3.608vw; /* 20px * 0.1804 */
    height: 3.608vw; /* 20px * 0.1804 */
    border-style: none;
    border-radius: 3.608vw; /* 20px * 0.1804 */

}

.div-resultado-cores {
    width: 90%;
    height: 6.294vw; /* 35px * 0.1804 */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-input {
    width: 45.1vw; /* 250px * 0.1804 */
    padding: 1.804vw; /* 10px * 0.1804 */
    margin: 1.804vw; /* 10px * 0.1804 */
    border: 0.1804vw solid #ccc; /* 1px * 0.1804 */
    border-radius: 0.902vw; /* 5px * 0.1804 */
    background-color: #f8f8f8;
    color: #333;
    font-size: 2.8872vw; /* 16px * 0.1804 */
    box-sizing: border-box;
}

.input-celula {
    width: 5.0536vw; /* 28px * 0.1804 */
    height: 5.0536vw; /* 28px * 0.1804 */
    font-size: 2.8872vw; /* 16px * 0.1804 */
    text-align: center;
    border: 0.1804vw solid #96c0ff; /* 1px * 0.1804 */
}

.input-rotulo-coluna, .input-rotulo-linha {
    border-style: hidden;
    width: 5.0536vw; /* 28px * 0.1804 */
    height: 5.0536vw; /* 28px * 0.1804 */
    font-size: 2.8872vw; /* 16px * 0.1804 */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
    background-color: rgb(228, 244, 255);
}

button {
    margin: 1.804vw; /* 10px * 0.1804 */
    background-color: #bedeff;
    color: rgb(0, 0, 0);
    padding: 2.163vw 4.326vw; /* 12px * 0.1804 */
    font-size: 2.8872vw; /* 16px * 0.1804 */
    border: 0.1804vw solid #96c0ff; /* 1px * 0.1804 */
    border-radius: 0.902vw; /* 5px * 0.1804 */
    cursor: pointer;
    width: 21.648vw; /* 120px * 0.1804 */
    text-align: center;
    
}

button:hover {
    background-color: rgb(142, 206, 255);
}

.button-proximo {
    margin-left: auto;
}

.button-anterior {
    margin-right: auto;
}

select {
    width: 90%;
    padding: 1.804vw; /* 10px * 0.1804 */
    font-size: 2.8872vw; /* 16px * 0.1804 */
    border: 0.1804vw solid #ccc; /* 1px * 0.1804 */
    border-radius: 0.902vw; /* 5px * 0.1804 */
    background-color: #f8f8f8;
    color: #333;
    appearance: none;
    margin: 1.804vw; /* 10px * 0.1804 */
}


select:focus {
    outline: none;
    border-color: dodgerblue;
}
